.header {
  display: flex;
  justify-content: space-between;
}
.form {
  color: blue;
  display: flex;
}
li {
  padding: 10px 10px 10px 10px;
}
.header-logo {
  color: blue;
  font-size:30px;
}
p {
  font-size:40px;
}
.main {
position: relative;
}
.box-wrapper {
  position: absolute;
  bottom: -50px;
  z-index: -1;
} 
.box {
  height: 100px;
  width: 1200px;
  background: blue;
}
.image {
  display: block;
  margin-left: auto;
  z-index: 30px;
  margin-bottom: 100px;
}