.header {
  display: flex;
  position: relative;
}
.header1 {
  width: 50%;
  position: absolute;
  display: inline-block;
}
.header2 {
  position: absolute;
  color: white;
  font-size: 80px;
  padding: 200px 0 0 100px;
}
.blog2 {
width: 200px;
}